#header{
    background-color: #0000002b;
    padding: 20px 0;
}
nav{
    display: flex;
    align-items: center;
   justify-content: space-between; 
}
.menuList{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}